.list-group-item-dark.list-group-item-action.active {
  color: #fff !important;
  background-color: #1c1e1f !important;
  border-color: #59636c;
}

.navbar {
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.bg-teal {
  background-color: rgba(0, 150, 136, 0.6);
}

.list-group-item-dark {
  color: #dddad5;
  background-color: #282b2d;
}

.list-group {
  border-radius: 0;
}

.customization-info {
  background: rgba(255,255,255,0.1);
  padding: 1rem;
}

.customization-info .fa-info-circle {
  padding: 0.5rem;
  background: #009688;
}

.nav.bg-teal-nav .nav-link:hover:not(.active) {
  color: #fff;
  background: #05746c;
}

.nav.bg-teal-nav .nav-link {
  background-color: rgba(0, 150, 136, 0.6);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle.ready::after {
  display: inline-block;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.binds-list {
  width: 100%
}

.form-control, .form-select {
  border: 1px solid rgb(108, 117, 125);
}

.form-control.disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.list-group-item-dark.list-group-item-action:focus,
.list-group-item-dark.list-group-item-action:hover {
  color: #dddad5;
  background-color: #2c2f31;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #009688;
}

.nav-pills .nav-link {
  border-radius: 0;
  
}

.nav-pills.bg-teal .nav-link {
  border-right: #05746c 2px solid;
}

.form-check-input:checked {
  background-color: #009688;
  border-color: #009688;
}

input {
  border-color: #575757;
  color: #e8e6e3;
  background-color: #181a1b;
}

.custom-control-label::before {
  background-color: #181a1b;
  border-color: #3d454c;
}

.module-title {
  margin-top: 0.5rem;
}

.module-category-title {
  margin-top: 1rem;
}

.form-select {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
}

b {
  font-weight: 600;
}

#title {
  font-size: 2.5rem;
}

.form-range::-webkit-slider-thumb {
  background-color: #009688;
}

.form-range::-webkit-slider-thumb:active {
  background-color: #009688;
}

.form-range::-moz-range-thumb {
  background-color: #009688;
}

.form-range::-moz-range-thumb:active {
  background-color: #009688;
}

.form-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff,0 0 0 .25rem #33b1a55e;
}

.form-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff,0 0 0 .25rem #33b1a55e;
}

.form-check-input:focus {
  border-color: #009688 !important;
  box-shadow: none !important;
}

.form-select:focus {
  border-color: #009688 !important;
  box-shadow: 0 0 0 .25rem #33b1a55e !important;
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.img-thumbnail {
  background: url("/img/stain.jpg");
  background-size: cover;
  padding: 0.5rem;
  transform: rotate(0.5deg);
}

#modules-controls {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.inset-box {
  box-shadow: inset 0 0 5px #000;
  padding: 20px;
}

.fixed-inner {
  position: absolute;
}

a.disabled {
  opacity: 0.65;
  color: #f8f9fa !important;
}

.download-link {
  color: #00ffe7;
}

.download-link:hover {
  color: #8afff4;
}

#launch-options code {
  margin-top: 2px;
  margin-right: 0.5rem;
}

#launch-options > * {
  float: left;
}

#launch-options > .fa {
  margin-top: 5px;
  margin-right: 5px;
}

.toggler.active span {
  transform: rotate(180deg);
}

.fa-angle-double-down {
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

#customizations {
  background: rgba(255,255,255,0.1);
}

#modules-sidebar {
  background: #fff1;
  padding-top: 0.2rem;
}

#modules-sidebar .nav-link:focus:not(.active) {
  color: #b2dfdb
}

.addons-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.addons-list-community > .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1rem;
  min-height: 30vh;
}

.addons-list-community > .row > .col-4 {
  flex: 0 0 auto;
}

.card {
  border-radius: 0
}

.addon-card {
  border: rgba(0, 0, 0, 0.6) 1px solid;
}

.addon-card.active {
  border: #009688 1px solid;
}

a.text-light.addon-card:focus {
  color: #cbd3da !important;
}

a.text-light.addon-card {
  color: #cbd3da !important;
}

a.text-light.addon-card.active, a.text-light.addon-card:hover {
  color: #f8f9fa !important;
}

#blockMisc {
  margin-bottom: 2rem;
}

#binds-list {
  max-height: 30vh;
  overflow-y: auto;
}

.keyboardContainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  width: 1024px;
  margin: 0 auto;
  border-radius: 5px;
}

.simple-keyboard.hg-theme-default {
  display: inline-block;
}

.simple-keyboard-main.simple-keyboard {
  width: 640px;
  min-width: 640px;
  background: none;
}

.simple-keyboard-main.simple-keyboard .hg-row:first-child {
  margin-bottom: 10px;
}

.simple-keyboard-arrows.simple-keyboard {
  align-self: flex-end;
  background: none;
}

.simple-keyboard .hg-button.selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}

.simple-keyboard .hg-button.emptySpace {
  pointer-events: none;
  background: none;
  border: none;
  box-shadow: none;
}

.simple-keyboard-arrows .hg-row {
  justify-content: center;
}

.simple-keyboard-arrows .hg-button {
  width: 50px;
  flex-grow: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.controlArrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}

.simple-keyboard-control.simple-keyboard {
  background: none;
}

.simple-keyboard-control.simple-keyboard .hg-row:first-child {
  margin-bottom: 10px;
}

.simple-keyboard-control .hg-button {
  width: 50px;
  flex-grow: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.numPad {
  display: flex;
  align-items: flex-end;
}

.simple-keyboard-numpad.simple-keyboard {
  background: none;
}

.simple-keyboard-numpad.simple-keyboard {
  width: 160px;
}

.simple-keyboard-numpad.simple-keyboard .hg-button {
  width: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.simple-keyboard-numpadEnd.simple-keyboard {
  width: 50px;
  background: none;
  margin: 0;
  padding: 5px 5px 5px 0;
}

.simple-keyboard-numpadEnd.simple-keyboard .hg-button {
  align-items: center;
  justify-content: center;
  display: flex;
}

.simple-keyboard-numpadEnd .hg-button.hg-standardBtn.hg-button-plus {
  height: 85px;
}

.simple-keyboard-numpadEnd.simple-keyboard .hg-button.hg-button-enter {
  height: 85px;
}

.simple-keyboard.hg-theme-default .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}

.hg-button.hg-functionBtn.hg-button-space {
  width: 350px;
}

.simple-keyboard.custom-kb-theme {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.custom-kb-theme .hg-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.custom-kb-theme .hg-button:active {
  background: #009688;
  color: white;
}

#root .simple-keyboard.custom-kb-theme + .simple-keyboard-preview {
  background: #009688;
}
