.list-group-item-dark.list-group-item-action.active {
    color: #fff !important;
    background-color: #1c1e1f !important;
    border-color: #59636c
}

.navbar {
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05), inset 0 -1px 0 rgba(0,0,0,0.15);
}

.navbar.bg-teal {
  background-color: rgba(0,150,136,.6)
}

.list-group-item-dark {
    color: #dddad5;
    background-color: #282b2d
}

.list-group {
    border-radius: 0
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 300
}

.list-group-item-dark.list-group-item-action:focus, .list-group-item-dark.list-group-item-action:hover {
    color: #dddad5;
    background-color: #2c2f31
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #009688;
}

input {
    border-color: #575757;
    color: #e8e6e3;
    background-color: #181a1b
}

.custom-control-label::before {
    background-color: #181a1b;
    border-color: #3d454c
}

.custom-checkbox {
  padding-top: .1rem;
  padding-bottom: .1rem;
}

.download-preview {
  width: auto;
  height: 30vh
}

.tooltip {
    opacity: 1 !important
}

.tooltip-inner {
    max-width: 35vw
}

@media only screen and (max-width: 960px) {
    .tooltip-inner {
        max-width: 45vw
    }
}

b {
  font-weight: 600
}

#title {
  font-size: 2.5rem
}
