.list-group-item-dark.list-group-item-action.active {
  color: #fff !important;
  background-color: #1c1e1f !important;
  border-color: #59636c;
}

.navbar {
  backdrop-filter: blur(1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.navbar.bg-teal {
  background-color: rgba(0, 150, 136, 0.6);
}

.list-group-item-dark {
  color: #dddad5;
  background-color: #282b2d;
}

.list-group {
  border-radius: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.list-group-item-dark.list-group-item-action:focus,
.list-group-item-dark.list-group-item-action:hover {
  color: #dddad5;
  background-color: #2c2f31;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #009688;
}

.nav-pills .nav-link {
  border-radius: 0
}

.form-check-input:checked {
  background-color: #009688;
  border-color: #009688;
}

input {
  border-color: #575757;
  color: #e8e6e3;
  background-color: #181a1b;
}

.custom-control-label::before {
  background-color: #181a1b;
  border-color: #3d454c;
}

.download-preview {
  max-height: 35vh;
  width: auto;
}

.module-title {
  margin-top: 0.5rem;
}

.module-category-title {
  margin-top: 1rem;
}

.form-select {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
}

b {
  font-weight: 600;
}

#title {
  font-size: 2.5rem;
}

.form-range::-webkit-slider-thumb {
  background-color: #009688;
}

.form-range::-webkit-slider-thumb:active {
  background-color: #009688;
}

.form-range::-moz-range-thumb {
  background-color: #009688;
}

.form-range::-moz-range-thumb:active {
  background-color: #009688;
}

.form-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff,0 0 0 .25rem #33b1a55e;
}

.form-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff,0 0 0 .25rem #33b1a55e;
}

.form-check-input:focus {
  border-color: #009688 !important;
  box-shadow: none !important;
}

.form-select:focus {
  border-color: #009688 !important;
  box-shadow: 0 0 0 .25rem #33b1a55e !important;
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.img-thumbnail {
  background: url("/img/stain.jpg");
  background-size: cover;
  padding: 0.5rem;
  transform: rotate(0.5deg);
}

#modules-controls {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.inset-box {
  box-shadow: inset 0 0 5px #000000;
  padding: 20px;
}

.fixed-inner {
  position: absolute;
}

a.disabled {
  opacity: 0.65;
  color: #f8f9fa !important;
}

.download-link {
  color: #00ffe7;
}

.download-link:hover {
  color: #8afff4;
}

.toggler.active span {
  transform: rotate(180deg);
}

.fa-angle-double-down {
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

#modules-sidebar {
  background: #fff1;
  padding-top: 0.2rem;
}

.addons-list {
  max-height: 20vh;
  overflow-y: auto;
}
