header {
  height: 100vh;
}

* {
  scrollbar-color: #009688 rgb(64, 63, 63);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: rgb(64, 63, 63);
}

::-webkit-scrollbar-thumb {
  background: #009688;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::selection {
  background: rgba(27, 233, 243, 0.5);
  color: #f2f2f2;
}

.dark-header {
  background-color: #212121;
}

.btn,
.btn-lg {
  border-radius: 0;
}

a.text-light.active:focus, a.text-light.active:hover {
  color: #f8f9fa !important;
}

section {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

footer {
  color: #f8f9fa;
  padding-bottom: 2rem;
}

.modal-lg {
  max-width: 85%;
}

a {
  color: #b2dfdb;
  transition: 0.25s;
  text-decoration: none;
}

.bi {
  display: inline-block;
  vertical-align: text-bottom;
}

a:hover {
  color: #00e3ce;
  text-decoration: none;
}

.btn-outline-primary {
  color: #b2dfdb;
  border-color: #b2dfdb;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #009688;
  border-color: #009688;
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #00645d;
  border-color: #009688;
}

.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus {
  background-color: #375e5b;
  border-color: #009688;
}

.img-logo {
  height: 10vh;
}
