:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #009688;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #009688;
  --bs-primary-rgb: 0, 150, 136;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

header {
  height: 100vh;
}

* {
  scrollbar-color: var(--bs-primary) var(--bs-dark);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: var(--bs-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--bs-primary);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::selection {
  background: rgba(var(--bs-primary-rgb), 0.5);
  color: var(--bs-light);
}

.btn,
.btn-lg {
  border-radius: 0;
}

a.text-light.active:focus, a.text-light.active:hover {
  color: var(--bs-light) !important;
}

section {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

footer {
  color: var(--bs-light);
  padding-bottom: 2rem;
}

.modal-lg {
  max-width: 85%;
}

a, .nav-link {
  color: #b2dfdb;
  transition: 0.25s;
  text-decoration: none;
}

.bi {
  display: inline-block;
  vertical-align: text-bottom;
}

a:hover, .nav-link:hover {
  color: #00e3ce;
  text-decoration: none;
}

.btn-outline-primary {
  color: #b2dfdb;
  border-color: #b2dfdb;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: var(--bs-light);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #00645d;
  border-color: var(--bs-primary);
}

.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus {
  background-color: #375e5b;
  border-color: var(--bs-primary);
}

.img-logo {
  height: 10rem;
}
