$icomoon-font-path: "/fonts" !default;

$tf2-Heavy: \1f4aa;
$tf2-Medic: \1f497;
$tf2-Pyro: \1f525;
$tf2-Scout: \1f407;
$tf2-Sniper: \1f3b7;
$tf2-Soldier: \1f4a5;
$tf2-Spy: \1f4e6;
$tf2-Demo: \1f4a3;
$tf2-Engineer: \1f527;
$tf2-FlankSoldier: \1f400;
$tf2-PocketSoldier: \1f418;
$tf2-FlankScout: \1f43f;
$tf2-PocketScout: \1f416;