.download-progress {
  --bs-progress-height: 1px;

  margin-bottom: 1em;
}

#download-progress-status {
  margin-left: 1em;
}

.download-status-fill {
  margin-bottom: 1rem;
}

#preset-image {
  max-width: 100%;
  height: auto;
  max-height: 395px;
}

// Launch options
#launch-options code {
  margin-top: 2px;
  margin-right: 0.5rem;
}

#launch-options > * {
  float: left;
}

#launch-options > .fas {
  margin-top: 5px;
  margin-right: 5px;
}

// Customize
#customizations {
  background: rgb(255 255 255 / 10%);
}

// Modules
.module-title {
  margin-top: 0.8rem !important;
  font-size: 1.3rem;
}

.module-category-title {
  margin-top: 1rem !important;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.module-category {
  display: flow-root;
}

#modules-controls {
  height: 65vh;
  overflow: hidden scroll;
  position: relative;
}

#modules-controls.inset-box {
  padding: 0;
}

.module-row {
  padding: 0 0.5rem 0.5rem 1.5rem;
  transition:
    background 0.2s,
    box-shadow 0.2s;
}

.module-row:hover {
  background: mix(#000, #fff, 90%);
  box-shadow: 0 0 5px #000;
}

.inset-box {
  box-shadow: inset 0 0 5px #000;
  padding: 20px;
}

.fixed-inner {
  position: absolute;
}

#modules-sidebar {
  background: #fff1;
  padding-top: 0.2rem;
}

#modules-sidebar .nav {
  --bs-nav-link-color: #b2dfdb;
}

#modules-root .form-range {
  margin-bottom: -5px;
}

// Addon cards
.addons-list-community-outer {
  margin-top: 1rem;
}

.addons-list-community > .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  min-height: 30vh;
}

.addons-list-community > .row > .col-4 {
  flex: 0 0 auto;
}

.addon-card {
  border: rgb(0 0 0 / 60%) 1px solid;
}

.addon-card.active {
  border: #009688 1px solid;
}

a.addon-card {
  color: #cbd3da !important;
}

a.addon-card:focus {
  color: #cbd3da !important;
}

a.addon-card.active,
a.addon-card:hover {
  --bs-card-bg: #212529;

  color: #f8f9fa !important;
}

// Other downloads
#blockMisc {
  margin-bottom: 2rem;
}

#collapseMiscButton {
  color: #a0a0a0;
}

// Collapse
.collapse-wrapper {
  padding-bottom: 1px;
}

// Binds
#binds-list {
  max-height: 30vh;
  width: 100%;
  overflow-y: auto;
}

// Item selection
.crosshair-preview {
  aspect-ratio: 16 / 9;
  justify-content: center;
  align-items: center;
}

.crosshair-preview:hover {
  background: #000 !important;
}

.crosshair-preview-img {
  height: 64px;
  width: auto;
}

.explosion-preview-img {
  height: auto;
  width: 100%;
}

.preview-container {
  padding: 0;
  width: 100%;
}

.chrome-picker {
  font-family: var(--bs-body-font-family) !important;
}

.chrome-picker input {
  background-color: #f2f2f2;
}

.colorMask {
  mask-size: 100%; /* edges might get cut off if you use 100% */
  mask-repeat: no-repeat;
  mask-position: center;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}

.colorMask > img {
  mix-blend-mode: multiply;
}

.MyDropdown__menu-list {
  scroll-behavior: auto;
}

.module-preview {
  width: 100%;
}
