// Addon cards
.addons-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.addons-list-community > .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1rem;
  min-height: 30vh;
}

.addons-list-community > .row > .col-4 {
  flex: 0 0 auto;
}

// Other downloads
#blockMisc {
  margin-bottom: 2rem;
}

#collapseMiscButton {
  color: #a0a0a0;
}

// Collapse
.collapse-wrapper {
  padding-bottom: 1px;
}

// Binds
#binds-list {
  max-height: 30vh;
  width: 100%;
  overflow-y: auto;
}

// Item selection
.crosshair-preview {
  aspect-ratio: 16 / 9;
  background: url("/img/app/crosshairs/crosspreview.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.crosshair-preview:hover {
  background: #000;
}

.crosshair-preview-img {
  height: 64px;
  width: auto;
}

.explosion-preview-img {
  height: auto;
  width: 100%;
}

.preview-container {
  padding: 0;
  width: 100%;
}

@import "./keyboard.scss";
