@import "./bootstrap.scss";

// 8. Add additional custom code here

// Base
* {
  scrollbar-color: $primary $dark;
  scrollbar-width: thin;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar-track {
  background: $dark;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::selection {
  background: rgba($primary, 0.5);
  color: $light;
}

// Link adjustments
a, .nav-link {
  transition: 0.25s;
  text-decoration: none;
}

.download-progress {
  --bs-progress-height: 1px;
  margin-bottom: 1em;
}

#download-progress-status {
  margin-left: 1em;
}

.alert a {
  color: #0d6efd
}

.alert a:hover {
  color: #0a58ca;
}

#modules-root .form-range {
  margin-bottom: -5px;
}

.form-range-value {
  font-weight: lighter;
  font-size: 0.9rem;
}

// Button
.btn-primary {
  --bs-btn-color: $white;
  --bs-btn-hover-color: $white;
  --bs-btn-active-color: $white;
}

.btn-outline-primary {
  --bs-btn-hover-color: $white;
}

// Classes
.img-separator {
  height: 40vh;
  margin-bottom: 2rem
}

// Elements
footer:last-of-type {
  padding-bottom: 2rem;
}

.home-header {
  background: linear-gradient(rgba(38, 50, 56, 0.7) 10%, rgba(38, 50, 56, 0.7)), url('../../img/cp_badlands01.jpg');
  background-size: cover;
  background-position: center
}

// Header
header {
  height: 100vh;
}

// Sections
section {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

// Header logo
.img-logo {
  height: 10rem;
}

// Large image compare modal
.modal-lg {
  max-width: 75%;
}

// FPS bars
.fps-bar .progress-bar {
  padding-left: 1rem;
  text-align: left;
  will-change: width;
}

.progress.fps-bar {
  --bs-progress-height: 1.25rem;
}

.btn-outline-secondary {
  border: $dark 1px solid;
}

// Base
html {
  scroll-padding-top: 89px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

b {
  font-weight: 600;
}

#title {
  font-size: 2.5rem;
}

// Nav tabs
.nav.nav-pills.bg-teal-nav {
  --bs-nav-link-hover-color: #fff;
}

.nav.nav-pills.bg-teal-nav .nav-link:hover:not(.active) {
  background: #05746c;
}

.nav.nav-pills.bg-teal-nav .nav-link:not(.active) {
  background: rgba(0, 150, 136, 0.6);
}

.nav.nav-tabs {
  --bs-nav-tabs-link-active-bg: var(--bs-primary);
  --bs-nav-tabs-link-active-color: #fff;
  --bs-nav-tabs-border-width: 0;
  border-bottom: 2px solid $primary;
}

// Form adjustments
.form-switch {
  .form-check-input {
    border-radius: $form-switch-border-radius;
    width: 2.5rem;
  }
}

.form-check-label {
  margin-left: 0.5rem;
}

.form-range {
  &::-webkit-slider-thumb {
    border-radius: $form-range-thumb-border-radius;
  }

  &::-moz-range-thumb {
    border-radius: $form-range-thumb-border-radius;
  }
}

.text-light.form-control::placeholder {
  color: rgba(255, 255, 255, .9);
}

// React select https://github.com/JedWatson/react-select/issues/2345#issuecomment-843674624
:root {
	--bs-select-padding-y: #{$form-select-padding-y}; //
	--bs-select-padding-x: #{$form-select-padding-x}; //
	--bs-select-font-size: #{$form-select-font-size}; //
	--bs-select-indicator-padding: #{$form-select-indicator-padding};
	--bs-select-font-weight: #{$form-select-font-weight}; //
	--bs-select-line-height: #{$form-select-line-height}; //
	--bs-select-color: #{$form-select-color}; //
	--bs-select-bg: #{$form-select-bg}; //
	--bs-select-disabled-color: #{$form-select-disabled-color};
	--bs-select-disabled-bg: #{$form-select-disabled-bg};
	--bs-select-disabled-border-color: #{$form-select-disabled-border-color};
	--bs-select-bg-position: #{$form-select-bg-position};
	--bs-select-bg-size: #{$form-select-bg-size};
	--bs-select-indicator: #{escape-svg($form-select-indicator)};
	--bs-select-feedback-icon-padding-end: #{$form-select-feedback-icon-padding-end};
	--bs-select-feedback-icon-position: #{$form-select-feedback-icon-position};
	--bs-select-feedback-icon-size: #{$form-select-feedback-icon-size};
	--bs-select-border-width: #{$form-select-border-width}; //
	--bs-select-border-color: #{$form-select-border-color}; //
	--bs-select-focus-border-color: #{$form-select-focus-border-color}; //
	--bs-select-padding-y-sm: #{$form-select-padding-y-sm};
	--bs-select-padding-x-sm: #{$form-select-padding-x-sm};
	--bs-select-font-size-sm: #{$form-select-font-size-sm};
	--bs-select-padding-y-lg: #{$form-select-padding-y-lg};
	--bs-select-padding-x-lg: #{$form-select-padding-x-lg};
	--bs-select-font-size-lg: #{$form-select-font-size-lg};
	@if $enable-rounded {
		--bs-select-border-radius: #{$form-select-border-radius}; //
	} @else {
		--bs-select-border-radius: 0; //
	}
}

// Download links
a.download-link.disabled {
  opacity: 0.65;
  color: #f8f9fa !important;
}

.download-link {
  color: #00ffe7;
}

.download-link:hover {
  color: #8afff4;
}

// Launch options
#launch-options code {
  margin-top: 2px;
  margin-right: 0.5rem;
}

#launch-options>* {
  float: left;
}

#launch-options>.fas {
  margin-top: 5px;
  margin-right: 5px;
}

// Customize
#customize-toggler.active span {
  transform: rotate(180deg);
}

#customize-toggler .fa-angles-down {
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

#customizations {
  background: rgba(255, 255, 255, 0.1);
}

// Modules
.module-title {
  margin-top: 0.5rem !important;
}

.module-category-title {
  margin-top: 1rem !important;
}

#modules-controls {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.inset-box {
  box-shadow: inset 0 0 5px #000;
  padding: 20px;
}

.fixed-inner {
  position: absolute;
}

#modules-sidebar {
  background: #fff1;
  padding-top: 0.2rem;
}

#modules-sidebar .nav {
  --bs-nav-link-color: #b2dfdb;
}

// Addon cards
.addons-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.addons-list-community>.row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1rem;
  min-height: 30vh;
}

.addons-list-community>.row>.col-4 {
  flex: 0 0 auto;
}

.addon-card {
  border: rgba(0, 0, 0, 0.6) 1px solid;
}

.addon-card.active {
  border: #009688 1px solid;
}

a.addon-card:focus {
  color: #cbd3da !important;
}

a.addon-card {
  color: #cbd3da !important;
}

a.addon-card.active,
a.addon-card:hover {
  --bs-card-bg: #212529;
  color: #f8f9fa !important;
}

// Other downloads
#blockMisc {
  margin-bottom: 2rem;
}

#collapseMiscButton {
  color: #a0a0a0;
}

// Collapse
.collapse-wrapper {
  padding-bottom: 1px;
}

// Binds
#binds-list {
  max-height: 30vh;
  width: 100%;
  overflow-y: auto;
}

// Item selection
.crosshair-preview {
  aspect-ratio: 16 / 9;
  background: url('/img/app/crosshairs/crosspreview.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.crosshair-preview:hover {
  background: #000;
}

.crosshair-preview-img {
  height: 64px;
  width: auto;
}

.explosion-preview-img {
  height: auto;
  width: 100%;
}

.preview-container {
  padding: 0;
  width: 100%;
}

// Keyboard
.keyboardContainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  width: 1024px;
  margin: 0 auto;
  border-radius: 5px;
}

.simple-keyboard.hg-theme-default {
  display: inline-block;
}

.simple-keyboard-main.simple-keyboard {
  width: 640px;
  min-width: 640px;
  background: none;
}

.simple-keyboard-main.simple-keyboard .hg-row:first-child {
  margin-bottom: 10px;
}

.simple-keyboard-arrows.simple-keyboard {
  align-self: flex-end;
  background: none;
}

.simple-keyboard .hg-button.selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}

.simple-keyboard .hg-button.emptySpace {
  pointer-events: none;
  background: none;
  border: none;
  box-shadow: none;
}

.simple-keyboard-arrows .hg-row {
  justify-content: center;
}

.simple-keyboard-arrows .hg-button {
  width: 50px;
  flex-grow: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.controlArrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}

.simple-keyboard-control.simple-keyboard {
  background: none;
}

.simple-keyboard-control.simple-keyboard .hg-row:first-child {
  margin-bottom: 10px;
}

.simple-keyboard-control .hg-button {
  width: 50px;
  flex-grow: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.numPad {
  display: flex;
  align-items: flex-end;
}

.simple-keyboard-numpad.simple-keyboard {
  background: none;
}

.simple-keyboard-numpad.simple-keyboard {
  width: 160px;
}

.simple-keyboard-numpad.simple-keyboard .hg-button {
  width: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.simple-keyboard-numpadEnd.simple-keyboard {
  width: 50px;
  background: none;
  margin: 0;
  padding: 5px 5px 5px 0;
}

.simple-keyboard-numpadEnd.simple-keyboard .hg-button {
  align-items: center;
  justify-content: center;
  display: flex;
}

.simple-keyboard-numpadEnd .hg-button.hg-standardBtn.hg-button-plus {
  height: 85px;
}

.simple-keyboard-numpadEnd.simple-keyboard .hg-button.hg-button-enter {
  height: 85px;
}

.simple-keyboard.hg-theme-default .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}

.hg-button.hg-functionBtn.hg-button-space {
  width: 350px;
}

.simple-keyboard.custom-kb-theme {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.custom-kb-theme .hg-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.custom-kb-theme .hg-button:active {
  background: #009688;
  color: white;
}

#root .simple-keyboard.custom-kb-theme+.simple-keyboard-preview {
  background: #009688;
}
