.hs-dl {
  --bs-btn-padding-y: 1.1rem;
}
.hs-container {
  height: 64px;
}
.full-item .card-title {
  height: 36px;
  display: inline-block;
  white-space: nowrap;
}
.title-container {
  overflow: hidden;
}
.loading-bg {
  background: #999;
}
