@import "./global.scss";

.home-header {
  background: linear-gradient(rgba(38, 50, 56, 0.7) 10%, rgba(38, 50, 56, 0.7)), url('../../img/cp_badlands01.jpg');
  background-size: cover;
  background-position: center
}

header {
  height: 100vh;
}

section {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.img-logo {
  height: 10rem;
}
