---
import Body from "@components/Body.astro";
import Footer from "@components/Footer.astro";
import BaseHead from "@components/head/BaseHead.astro";
import ImportHead from "@components/head/ImportHead.astro";
import MainHead from "@components/head/MainHead.astro";
import PreloadHead from "@components/head/PreloadHead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <head>
    <BaseHead />
    <PreloadHead />
    <ImportHead />
    <MainHead title="mastercomfig.com is moving to comfig.app!" />
  </head>
  <Body>
    <header class="jumbotron jumbotron-fluid home-header">
      <div
        class="container d-flex align-items-center justify-content-center"
        style="height: 100%"
      >
        <div class="align-middle text-center">
          <img
            class="img-logo"
            src="/img/mastercomfig_logo_transparent_i.svg"
            alt="logo"
          />
          <h1 class="display-4">mastercomfig.com is moving to comfig.app!</h1>
          <p class="lead">
            The mastercomfig app is moving to comfig.app for improved speed,
            better security and more features.
          </p>
          <p class="lead">
            You will need to import your config from mastercomfig.com to
            comfig.app.<br />Click the button below to copy your data and go to
            the import tool.
          </p>
          <button class="btn btn-primary btn-lg" id="comfig-backup">
            <span class="fas fa-boxes-packing fa-fw"></span> Backup and import
          </button>
          <br /><br />
          <div>
            <p>
              Or, if you'd like to skip migrating your pre-existing data, click
              this second button below.<br />You won't keep any saved
              customizations from mastercomfig.com.<br />If this is your first
              time using the site, or you already used comfig.app, you can
              safely use this option.
            </p>
            <a class="btn btn-danger p-2" href="https://comfig.app/app">
              <span class="fas fa-box-open fa-fw"></span> Skip migration
            </a>
            <br /><br />
          </div>
          <small
            >mastercomfig.com will permanently redirect to comfig.app on October
            15, 2024. Make sure to migrate your data before then.</small
          >
        </div>
      </div>
    </header>
    <script>
      import TSON from "@utils/tson";
      import { entries } from "idb-keyval";
      document.addEventListener("astro:page-load", () => {
        const btn = document.getElementById("comfig-backup");

        if (btn) {
          if (window.location.hostname === "comfig.app") {
            window.location.assign("/app");
            return;
          }
        }

        const disallowed = new Set(["cachedData", "quickplay", "directory"]);
        btn?.addEventListener("click", async () => {
          const obj = {};
          const keyval = await entries();
          for (const [key, val] of keyval) {
            const keyName = key.toString();
            if (disallowed.has(keyName)) {
              continue;
            }
            obj[key.toString()] = val;
          }

          const data = TSON.stringify(obj);
          if (!data) {
            window.location.assign("https://comfig.app/app");
            return;
          }

          if (!navigator.clipboard) {
            console.error("Clipboard migration unsupported.");
            return;
          }
          await navigator.clipboard.writeText(data);
          window.location.assign("https://comfig.app/app?migrate=1");
        });
      });
    </script>
    <Footer />
  </Body>
</Layout>
