---
import Layout from "@layouts/Layout.astro";
import BaseHead from "@components/head/BaseHead.astro";
import PreloadHead from "@components/head/PreloadHead.astro";
import ImportHead from "@components/head/ImportHead.astro";
import MainHead from "@components/head/MainHead.astro";
import Body from "@components/Body.astro";
import Footer from "@components/Footer.astro";
import ImageSlider from "@components/ImageSlider.jsx";
import Sponsor from "@components/Sponsor.astro";
import "highlight.js/styles/atom-one-dark.css";
---

<Layout>
  <head>
    <BaseHead />
    <PreloadHead>
      <link rel="prefetch" href="app" />
    </PreloadHead>
    <ImportHead>
      <script>
        import "bootstrap/js/src/modal.js";
        import "@utils/index.js";
      </script>
    </ImportHead>
    <MainHead 
      title = "mastercomfig - a modern customization framework for TF2"
      description ="A modern Team Fortress 2 performance and customization config. mastercomfig is the most popular config, with millions of downloads, and has been highly tuned and researched for the best performance. Instantly tune your graphics and gameplay with the easy-to-use app."
    />
  </head>
  <Body>
    <header class="jumbotron jumbotron-fluid text-light home-header">
      <div
        class="container d-flex align-items-center justify-content-center"
        style="min-height: 100vh"
      >
        <div class="align-middle">
          <div class="text-center">
            <img
              class="img-logo"
              src="/img/mastercomfig_logo_transparent_i.svg"
              alt="logo"
            />
            <h1 class="display-1">mastercomfig</h1>
            <p class="lead display-6">a modern customization framework</p>
            <a class="btn btn-outline-secondary btn-lg" href="/app/">
              <span class="far fa-window-maximize fa-fw"></span> Launch
            </a>
            <br /><br />
            <p class="lead fw-normal">
              <a href="https://docs.mastercomfig.com/">Docs</a> &bull;
              <a href="https://discord.gg/CuPb2zV">Discord</a> &bull;
              <a href="https://steamcommunity.com/groups/comfig">Steam Group</a> &bull;
              <a href="/huds/1">HUDs</a> &bull;
              <a href="/hits/hs/1">Hits</a>
            </p>
          </div>
          <br />
          <Sponsor />
          <br />
          <br />
        </div>
      </div>
    </header>

    <section>
      <div class="container" style="height: 100%">
        <div
          class="row d-flex align-items-center justify-content-center"
          style="height: 100%"
        >
          <div class="col-md align-middle">
            <div class="progress fps-bar">
              <div
                id="mastercomfig-bar"
                class="progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow={100}
                aria-valuemin={0}
                aria-valuemax={100}
              >
                <b>322FPS</b>
              </div>
            </div>
            <p>mastercomfig low</p>
            <div class="progress fps-bar">
              <div
                id="comanglia-bar"
                class="progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow={91}
                aria-valuemin={0}
                aria-valuemax={100}
              >
                <b>291FPS</b>
              </div>
            </div>
            <p>Comanglia's config</p>
            <div class="progress fps-bar">
              <div
                id="m0re-bar"
                class="progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow={90}
                aria-valuemin={0}
                aria-valuemax={100}
              >
                <b>290FPS</b>
              </div>
            </div>
            <p>m0re highfps</p>
            <div class="progress fps-bar">
              <div
                id="chris-bar"
                class="progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow={84}
                aria-valuemin={0}
                aria-valuemax={100}
              >
                <b>270FPS</b>
              </div>
            </div>
            <p>Chris maxframes</p>
            <div class="progress fps-bar">
              <div
                id="rhapsody-bar"
                class="progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow={80}
                aria-valuemin={0}
                aria-valuemax={100}
              >
                <b>257FPS</b>
              </div>
            </div>
            <p>Rhapsody's config</p>
            <hr class="bg-light" style="margin-bottom: 0.5rem" />
            <p class="font-weight-light" style="font-size: 1rem">
              FPS = frames per second (higher is better).
              <br /><small
                >Measured on i7-8700K, GTX1080, 16GB 3200MHz RAM, SSD, Linux
                using <a href="https://docs.mastercomfig.com/page/benchmarks/"
                  >this benchmark</a
                >.</small
              >
            </p>
          </div>
          <div class="col-md align-middle">
            <h1 class="display-5">
              <span class="fas fa-bolt fa-fw"></span> Performance
            </h1>
            <p class="lead">
              Get faster load times and a buttery smooth game at high frames
              with mastercomfig.
            </p>
          </div>
        </div>
      </div>
    </section>

    <div
      class="img-separator"
      style="background: linear-gradient(rgba(38, 50, 56, 0.7) 10%, rgba(38, 50, 56, 0.7)), url('img/cp_sunshine04.jpg'); background-size: cover; background-position: center; background-attachment: fixed; margin-bottom: 0"
    >
    </div>

    <section style="padding-top: 0; padding-bottom: 0">
      <div
        style="background-image: url('img/network.png'); background-size: cover; height: 100%"
      >
        <div
          class="container"
          style="height: 100%; padding-top: 4rem; padding-bottom: 4rem"
        >
          <div
            class="row d-flex align-items-center justify-content-center"
            style="height: 100%"
          >
            <div class="col-md-6 align-middle">
              <h1 class="display-5">
                <span class="fas fa-crosshairs fa-fw"></span> Hitreg
              </h1>
              <p class="lead">
                With mastercomfig's optimized networking settings that minimize
                choke, loss and lag, you'll find yourself fragging more and
                hitting less 0 damage headshots and failstabs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div
      class="img-separator"
      style="background: linear-gradient(rgba(38, 50, 56, 0.7) 10%, rgba(38, 50, 56, 0.7)), url('img/pl_badwater01.jpg'); background-size: cover; background-position: center; background-attachment: fixed"
    >
    </div>

    <section class="text-light">
      <div class="container" style="height: 100%">
        <div
          class="row d-flex align-items-center justify-content-center"
          style="height: 100%"
        >
          <div class="col-md align-middle">
            <ImageSlider
              client:load
              srcOne="/img/koth_sawmill_performance.jpg"
              altOne="koth_sawmill low"
              srcTwo="/img/koth_sawmill_quality.jpg"
              altTwo="koth_sawmill ultra"
            />
            <br />
            <button
              type="button"
              class="btn btn-secondary d-none d-md-block"
              data-bs-toggle="modal"
              data-bs-target="#compareModal"
            >
              View larger
            </button>
            <br />
          </div>
          <div class="col-md align-middle">
            <h1 class="display-5">
              <span class="fas fa-eye fa-fw"></span> Quality
            </h1>
            <p class="lead">
              Only the most unoptimized settings have been disabled by default
              in mastercomfig, so you don't have to sacrifice everything for
              performance. Looking for more performance, or quality? Easily
              customize looks to your exact preference using the many config
              customization presets.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="container">
      <hr class="bg-light" />
    </section>

    <section class="text-light">
      <div class="container" style="height: 100%">
        <div
          class="row d-flex align-items-center justify-content-center"
          style="height: 100%"
        >
          <div class="col-lg-6 align-middle">
            <h1 class="display-5">
              <span class="fas fa-sliders fa-fw"></span> Customization
            </h1>
            <p class="lead">
              Easily customize the config to your needs with quality presets and
              the intuitive mastercomfig <a
                href="https://docs.mastercomfig.com/page/customization/modules/"
                >modules system</a
              >.<br />
              Need more precision? Fine tune your game settings using mastercomfig's
              extensively documented user config template and <a
                href="https://docs.mastercomfig.com/page/customization/custom_configs/"
                >custom config system</a
              >.
            </p>
            <p>
              These customization features are available in the app, or to
              customize locally in a text file, so you get to customize your
              way.
            </p>
          </div>
          <div class="col-lg-6 align-middle">
            <pre><code class="cpp">
lod=high
lighting=very_high
shadows=medium

// =============
// '--- HUD ---'
// =============
// ---------------
// '-- General --'
// ---------------
// General/misc HUD settings

//cl_hud_playerclass_use_playermodel 1 // Enable live player model in HUD
//cl_hud_playerclass_use_playermodel 0 // Disable live player model in HUD
//cl_hud_minmode 1 // HUD min mode

tf_dashboard_slide_time .1 // Time in seconds for dashboard transitions
tf_item_inspect_model_auto_spin 1 // Auto spin items in the inspect view
//tf_item_inspect_model_auto_spin 0 // Do not auto spin items in the inspect view
tf_item_inspect_model_spin_rate 30 // Rate at which items spin in the inspect view
//tf_quest_map_tuner_wobble_magnitude .01 // Enable red tuner at the bottom
//tf_quest_map_tuner_wobble_magnitude 0 // Disable the red tuner on the contracker
//tf_build_menu_controller_mode 1 // Use controller style engineer build menu
//tf_disguise_menu_controller_mode 1 // Controller disguise menu
//tf_simple_disguise_menu 0 // Concise disguise menu
                </code></pre>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <hr class="bg-light" />
    </section>
    <section class="container text-center text-light">
      <div class="jumbotron">
        <h1 class="display-4">Get frames. Get master&shy;comfig.</h1>
        <br />
        <a class="btn btn-primary btn-lg" href="/app/">
          <span class="fas fa-window-maximize fa-fw"></span> Launch mastercomfig
        </a>
        <br /><br />
        <a href="https://docs.mastercomfig.com/" class="lead"
          ><span class="fas fa-book fa-fw"></span> Learn more at our docs</a
        >
      </div>
    </section>
    <section class="container">
      <hr class="bg-light" />
    </section>
    <Footer>
      <a href="https://github.com/mastercomfig/mastercomfig"
        ><span class="fab fa-github fa-fw"></span> Source code</a
      >
      <br /><br />
    </Footer>

    <div
      class="modal fade"
      id="compareModal"
      tabindex={-1}
      role="dialog"
      aria-labelledby="compareModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header text-light">
            <h5 class="modal-title" id="compareModalLabel">Comparison</h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ImageSlider
              client:load
              srcOne="/img/koth_sawmill_performance.jpg"
              altOne="koth_sawmill low"
              srcTwo="/img/koth_sawmill_quality.jpg"
              altTwo="koth_sawmill ultra"
            />
          </div>
        </div>
      </div>
    </div>
  </Body>
</Layout>
