<!DOCTYPE html>
<meta charset="utf-8" />
<title>Redirecting to tf.mastercomfig.com</title>
<meta http-equiv="refresh" content="0; URL=steam://connect/198.133.237.36" />
<link rel="canonical" href="steam://connect/198.133.237.36" />
