---

---

<style is:global>
  @font-face {
    font-family: "Monoton";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fontsource/monoton/files/monoton-latin-400-normal.woff2)
      format("woff2");
    unicode-range:
      U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
      U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: "Righteous";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fontsource/righteous/files/righteous-latin-400-normal.woff2)
      format("woff2");
    unicode-range:
      U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
      U+2212, U+2215, U+FEFF, U+FFFD;
  }
  .update-block {
    h1,
    h2,
    .display-2,
    .display-3,
    .display-4,
    .display-5,
    .display-6 {
      font-family:
        "Righteous",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Helvetica Neue",
        Arial,
        sans-serif;
    }
    h2 {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }
    h3 {
      font-weight: 600;
      font-size: 1.25rem;
    }
    h4 {
      font-size: 1.25rem;
    }
    .display-1 {
      font-family:
        "Monoton",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Helvetica Neue",
        Arial,
        sans-serif;
    }
    li {
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
</style>

<div class="update-block">
  <slot />
</div>
