---
---

<div class="card text-start" style="background: linear-gradient(135deg, rgba(33,37,41, 0.01), rgba(33,37,41, 1) 60%),radial-gradient(ellipse at top left, rgba(255,255,255, 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(255,228,132, 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(112.520718,44.062154,249.437846, 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(13,110,253, 0.5), transparent 50%)">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-auto">
        <img style="height: 10rem;aspect-ratio: 1 / 1" width="160" height="160" src="/img/third_party/tradeit.webp" alt="tradeit.gg logo"/>
      </div>
      <div class="col-auto text-white">
        <strong class="fw-bold h5">Trade, buy or sell items</strong><br/>
        Trade items instantly for real money with the lowest fees.<br>
        Fully automated. Over 45 million successful trades.
      </div>
      <a href="https://tradeit.gg/?aff=comfig" class="stretched-link"></a>
    </div>
  </div>
  <div class="card-footer text-body-secondary">
    Sponsored by <strong>tradeit.gg</strong>
  </div>
</div>