---
import Body from "@components/Body.astro";
import Footer from "@components/Footer.astro";
import BaseHead from "@components/head/BaseHead.astro";
import ImportHead from "@components/head/ImportHead.astro";
import MainHead from "@components/head/MainHead.astro";
import PreloadHead from "@components/head/PreloadHead.astro";
import GiftCard from "@components/loaders/GiftCard.astro";
import Layout from "@layouts/Layout.astro";
---

<style>
  .text-shteam {
    color: rgb(25, 153, 255) !important;
  }
  .bg-shteam {
    background: rgb(24, 26, 33);
  }
  .bg-shteam-bright {
    background: #2d73ff;
  }
  .btn {
    border-radius: 0.25rem;
  }
  .btn-primary {
    background: linear-gradient(90deg, #06bfff 0%, #2d73ff 100%);
  }
  .btn-primary:hover {
    background: linear-gradient(90deg, #06bfff 30%, #2d73ff 100%);
  }
  .btn-success {
    background: #169b1d;
  }
  .btn-success:hover {
    background: #18aa20;
  }
  body {
    background-color: #181a21;
  }
  .bg-center {
    background: #1b2838;
  }
  .floating {
    animation: float 3s ease-in-out infinite;
  }
  .floating-2 {
    animation: float 2.4s ease-in-out infinite;
  }
  .item-icon {
    background: #0b1016;
    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
  }
  .no-items {
    opacity: 0.5;
  }
  .has-items {
    cursor: pointer;
  }
  .no-items .sell-price {
    display: none;
  }
  .no-items .sell-btn {
    display: none;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(0);
    }
  }
</style>

<Layout>
  <head>
    <BaseHead />
    <PreloadHead />
    <ImportHead />
    <MainHead
      title="Store - Shteam Commumity"
      noSite={true}
      description="sign in for free shteam gift card reward"
      image="https://comfig.app/img/giftcard/cover.png"
      favicon="/img/giftcard/shteam.png"
    />
  </head>
  <Body>
    <section style=`background: rgb(23, 29, 37);height: 104px`>
      <div class="container" style="height: 100%">
        <a href="/giftcard/" class="text-light">
          <img
            src="/img/giftcard/shteam.png"
            alt="logo"
            style="height: 150%; width: auto;"
          />
          <span
            style="font-weight: 500;letter-spacing: 0.3rem;font-size: 1.5rem;margin-top: 0.2rem"
            >SHTEAM</span
          >
          <sup style="top: -2em;font-size: 0.5rem">LOL</sup>
        </a>
      </div>
    </section>
    <section class="bg-center mb-5">
      <div
        class="container bg-shteam p-5"
        style="margin-top: 4rem;margin-bottom: 4rem"
      >
        <p>
          <span class="text-white py-1 px-3" style="background: #11344b"
            >Wallet</span
          >
          <strong
            class="text-white py-1 px-3"
            style="background: #169b1d"
            id="giftCardWallet"></strong>
        </p>
        <hr />
        <div class="row">
          <div class="col">
            <h1 class="display-6 text-shteam text-center">Your inventory</h1>
            <div class="row row-cols-3 g-4" id="giftCardInventory">
              <div class="col">
                <div class="item-icon my-item no-items" id="my-item-ticket">
                  <img
                    src="/img/giftcard/items/ticket.png"
                    alt="item"
                    class="img-fluid"
                  />
                  <div class="cur-count position-absolute top-0 end-0">0</div>
                  <div
                    class="position-absolute bottom-0 start-50 translate-middle-x w-100"
                  >
                    <div class="row g-0">
                      <div class="col-9">
                        <input
                          disabled
                          class="form-control form-control-sm sell-price w-100"
                          id="sell-price-ticket"
                          type="number"
                          placeholder="$"
                          min="0.03"
                          step="0.01"
                        />
                      </div>
                      <div class="col-3">
                        <button
                          disabled
                          id="sell-btn-ticket"
                          class="btn btn-success btn-sm sell-btn">Sell</button
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item-icon my-item no-items" id="my-item-key">
                  <img
                    src="/img/giftcard/items/key.png"
                    alt="item"
                    class="img-fluid"
                  />
                  <div class="cur-count position-absolute top-0 end-0">0</div>
                  <div
                    class="position-absolute bottom-0 start-50 translate-middle-x w-100"
                  >
                    <div class="row g-0">
                      <div class="col-9">
                        <input
                          disabled
                          class="form-control form-control-sm sell-price w-100"
                          id="sell-price-key"
                          type="number"
                          placeholder="$"
                          min="0.03"
                          step="0.01"
                        />
                      </div>
                      <div class="col-3">
                        <button
                          disabled
                          id="sell-btn-key"
                          class="btn btn-success btn-sm sell-btn">Sell</button
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item-icon my-item no-items" id="my-item-tux">
                  <img
                    src="/img/giftcard/items/tux.png"
                    alt="item"
                    class="img-fluid"
                  />
                  <div class="cur-count position-absolute top-0 end-0">0</div>
                  <div
                    class="position-absolute bottom-0 start-50 translate-middle-x w-100"
                  >
                    <div class="row g-0">
                      <div class="col-9">
                        <input
                          disabled
                          class="form-control form-control-sm sell-price w-100"
                          id="sell-price-tux"
                          type="number"
                          placeholder="$"
                          min="0.03"
                          step="0.01"
                        />
                      </div>
                      <div class="col-3">
                        <button
                          disabled
                          id="sell-btn-tux"
                          class="btn btn-success btn-sm sell-btn">Sell</button
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item-icon my-item no-items" id="my-item-pepper">
                  <img
                    src="/img/giftcard/items/pepper.png"
                    alt="item"
                    class="img-fluid"
                  />
                  <div class="cur-count position-absolute top-0 end-0">0</div>
                  <div
                    class="position-absolute bottom-0 start-50 translate-middle-x w-100"
                  >
                    <div class="row g-0">
                      <div class="col-9">
                        <input
                          disabled
                          class="form-control form-control-sm sell-price w-100"
                          id="sell-price-pepper"
                          type="number"
                          placeholder="$"
                          min="0.03"
                          step="0.01"
                        />
                      </div>
                      <div class="col-3">
                        <button
                          disabled
                          id="sell-btn-pepper"
                          class="btn btn-success btn-sm sell-btn">Sell</button
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item-icon my-item no-items" id="my-item-hat">
                  <img
                    src="/img/giftcard/items/hat.png"
                    alt="item"
                    class="img-fluid"
                  />
                  <div class="cur-count position-absolute top-0 end-0">0</div>
                  <div
                    class="position-absolute bottom-0 start-50 translate-middle-x w-100"
                  >
                    <div class="row g-0">
                      <div class="col-9">
                        <input
                          disabled
                          class="form-control form-control-sm sell-price w-100"
                          id="sell-price-hat"
                          type="number"
                          placeholder="$"
                          min="0.03"
                          step="0.01"
                        />
                      </div>
                      <div class="col-3">
                        <button
                          disabled
                          id="sell-btn-hat"
                          class="btn btn-success btn-sm sell-btn">Sell</button
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item-icon my-item no-items" id="my-item-pan">
                  <img
                    src="/img/giftcard/items/pan.png"
                    alt="item"
                    class="img-fluid"
                  />
                  <div class="cur-count position-absolute top-0 end-0">0</div>
                  <div
                    class="position-absolute bottom-0 start-50 translate-middle-x w-100"
                  >
                    <div class="row g-0">
                      <div class="col-9">
                        <input
                          disabled
                          class="form-control form-control-sm sell-price w-100"
                          id="sell-price-pan"
                          type="number"
                          placeholder="$"
                          min="0.03"
                          step="0.01"
                        />
                      </div>
                      <div class="col-3">
                        <button
                          disabled
                          id="sell-btn-pan"
                          class="btn btn-success btn-sm sell-btn">Sell</button
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <h1 class="display-6 text-shteam text-center">Market</h1>
            <div class="row row-cols-3 g-4">
              <div class="col">
                <div class="item-icon market-item no-items" id="item-ticket">
                  <img
                    src="/img/giftcard/items/ticket.png"
                    alt="item"
                    class="img-fluid"
                  />
                  <div class="position-relative mx-2">
                    <div class="cur-price position-absolute bottom-0 start-0">
                    </div>
                    <div
                      class="diff-price position-absolute bottom-0 end-0 text-end text-success"
                    >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item-icon market-item no-items" id="item-key">
                  <img
                    src="/img/giftcard/items/key.png"
                    alt="item"
                    class="img-fluid"
                  />
                  <div class="position-relative mx-2">
                    <div class="cur-price position-absolute bottom-0 start-0">
                    </div>
                    <div
                      class="diff-price position-absolute bottom-0 end-0 text-end text-success"
                    >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item-icon market-item no-items" id="item-tux">
                  <img
                    src="/img/giftcard/items/tux.png"
                    alt="item"
                    class="img-fluid"
                  />
                  <div class="position-relative mx-2">
                    <div class="cur-price position-absolute bottom-0 start-0">
                    </div>
                    <div
                      class="diff-price position-absolute bottom-0 end-0 text-end text-success"
                    >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item-icon market-item no-items" id="item-pepper">
                  <img
                    src="/img/giftcard/items/pepper.png"
                    alt="item"
                    class="img-fluid"
                  />
                  <div class="position-relative mx-2">
                    <div class="cur-price position-absolute bottom-0 start-0">
                    </div>
                    <div
                      class="diff-price position-absolute bottom-0 end-0 text-end text-success"
                    >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item-icon market-item no-items" id="item-hat">
                  <img
                    src="/img/giftcard/items/hat.png"
                    alt="item"
                    class="img-fluid"
                  />
                  <div class="position-relative mx-2">
                    <div class="cur-price position-absolute bottom-0 start-0">
                    </div>
                    <div
                      class="diff-price position-absolute bottom-0 end-0 text-end text-success"
                    >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item-icon market-item no-items" id="item-pan">
                  <img
                    src="/img/giftcard/items/pan.png"
                    alt="item"
                    class="img-fluid"
                  />
                  <div class="position-relative mx-2">
                    <div class="cur-price position-absolute bottom-0 start-0">
                    </div>
                    <div
                      class="diff-price position-absolute bottom-0 end-0 text-end text-success"
                    >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="text-center container">
          <h1 class="display-5 text-shteam">Raffle</h1>
          <div class="row" id="giftCardRaffle">
            <p>No raffles available</p>
          </div>
        </div>
        <!--<hr />
         <div class="text-center container">
          <h1 class="display-5 text-shteam">Transfer Wallet</h1>
          <input
            id="send-wallet-account"
            class="form-control"
            placeholder="Receiver account name"
          />
          <input
            id="send-wallet-money"
            class="form-control"
            placeholder="$ Amount to send"
          />
          <button id="send-wallet-btn" class="btn btn-success"
            >Send money</button
          >
        </div>-->
        <hr />
        <div class="text-center container">
          <h1 class="display-5 text-shteam">Leaderboards</h1>
          <div id="giftCardLeaderboard"></div>
        </div>
      </div>
    </section>
    <GiftCard />
    <Footer>
      <a href="/giftcard/terms">Terms</a>
      <br /><br />
    </Footer>
  </Body>
</Layout>
