---
---

<style>
  .navbar {
    --bs-navbar-padding-x: 1rem;
    --bs-navbar-padding-y: 0.4rem;
  }
  .form-control {
    background: rgba(37, 108, 102, 0.4);
    color: #fff;
  }
  .form-control:focus {
    border: 1px solid rgba(37, 108, 102, 0.4) !important;
    box-shadow: 0 -0.5rem 0.5rem rgba(37, 108, 102, 0.4) !important;
    color: #fff;
  }
  .form-control::placeholder {
    color: rgba(220, 220, 220, 0.7);
  }
  .form-control:focus::placeholder {
    color: rgba(220, 220, 220, 0.9);
  }
</style>

<script>
  // Use these for trait filtering
  const traits = ["os", "gamemode", "res"];
  const traitMatcher = new Set(traits);
  function buildExpressionTree(q) {
    let terms = q.split(" ");
    // Trim whitespace
    terms = terms.map((term) => term.trim());
    // Remove empty terms
    terms = terms.filter((term) => term.length > 0);
    // Normalize case
    terms = terms.map((term) => term.toLowerCase());
    // Remove duplicates
    terms = Array.from(new Set(terms));
    let query = "";
    const filters = new Map();
    for (const trait of traits) {
      filters.set(trait, []);
    }
    filters.set("author", []);
    let filterCount = 0;
    for (const term of terms) {
      if (term.indexOf(":") === -1) {
        // Recombine the search query
        query += `${term} `;
      } else {
        filterCount++;
      }
    }
    // Trim last term's whitespace
    query = query.trimEnd();
    const filterObj = {
      combineWith: "AND",
      queries: []
    };
    const searchQueries = filterCount > 0 ? [query, filterObj] : [query];
    const searchObj = {
      combineWith: "AND",
      queries: searchQueries,
    };

  }
</script>

<div class="container">
  <nav class="navbar navbar-expand navbar-sm navbar-dark bg-teal">
    <div class="d-lg-flex w-100 justify-content-between">
      <span class="navbar-brand">
        <a href="/huds/1" class="navbar-brand"><img src="/img/mastercomfig_logo_transparent_i.svg" alt="" class="d-inline-block align-text-center" width="24" height="24"> comfig huds</a>
      </span>
      <div class="d-none position-absolute top-50 start-50 translate-middle w-50" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </div>  
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="HUDs Discord">
            <a href="https://discord.gg/Hz3Q4Z8" class="nav-link"><span class="fab fa-discord fa-fw" aria-hidden="true"></span></a>
          </li>
          <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Submit a HUD">
            <a href="https://github.com/mastercomfig/hud-db" class="nav-link"><span class="fas fa-plus fa-fw" aria-hidden="true"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
