---
import NavSelector from "@components/NavSelector.astro";
import { getAllHudsHash } from "@ssg/huds";
import HudSearch from "./HudSearch.astro";

const hash = await getAllHudsHash();
---

<style>
  .form-control {
    background: rgb(37 108 102 / 40%);
    color: #fff;
  }

  .form-control:focus {
    border: 1px solid rgb(37 108 102 / 40%) !important;
    box-shadow: 0 -0.5rem 0.5rem rgb(37 108 102 / 40%) !important;
    color: #fff;
  }

  .form-control::placeholder {
    color: rgb(220 220 220 / 70%);
  }

  .form-control:focus::placeholder {
    color: rgb(220 220 220 / 90%);
  }

  .form-control::selection {
    background: rgb(0 206 187 / 50%);
  }

  #huds-search-results {
    max-height: 90vh;
    box-shadow: 0 0 1rem 1rem rgb(0 0 0 / 50%);
    width: 100%;
    overflow-y: auto;
    transform: translate(-50%, 0);
    z-index: 4;
  }

  @media (width >= 992px) {
    #huds-search-results {
      width: max(calc(960px * 0.495), 24.5vw);
      max-width: 653px;
      transform: translate(-50.7%, 0);
    }

    #search-input-container {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      width: max(calc(960px * 0.5), 25vw);
      max-width: 660px;
    }
  }
</style>

<style is:global>
  .search-result-img-container {
    aspect-ratio: 16 / 9;
  }
</style>

<HudSearch hash={hash.substring(0, 8)} />
<div class="g-0 g-lg-4">
  <nav class="navbar navbar-expand sticky-top navbar-dark bg-teal">
    <div class="container g-0">
      <a href="/huds/1" class="navbar-brand">
        <img
          src="/img/mastercomfig_logo_transparent_i.svg"
          alt=""
          class="d-inline-block align-text-top"
          width="24"
          height="24"
        />
        <span class="d-none d-md-inline"> comfig</span>
      </a>
      <NavSelector pageName="huds" />
      <div class="collapse navbar-collapse"></div>
      <div class="flex-fill" id="search-input-container" role="search">
        <input
          id="search-input"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li
            class="nav-item"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="HUD Docs"
          >
            <a href="https://docs.comfig.app/latest/tf2/huds/" class="nav-link"
              ><span class="fas fa-book fa-fw" aria-hidden="true"></span></a
            >
          </li>
          <li
            class="nav-item"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="HUDS.TF Discord"
          >
            <a href="https://discord.gg/Hz3Q4Z8" class="nav-link"
              ><span class="fab fa-discord fa-fw" aria-hidden="true"></span></a
            >
          </li>
          <li
            class="nav-item"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="Submit a HUD"
          >
            <a href="/huds/submit" class="nav-link"
              ><span class="fas fa-plus fa-fw" aria-hidden="true"></span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="position-relative">
    <div
      id="huds-search-results"
      class="d-none position-absolute top-0 start-50 bg-dark p-3"
    >
      <p class="lead mt-0 mb-2">Type to search for HUDs!</p>
      <h6 class="mb-1">Advanced search</h6>
      <span><code>author:username</code> - search by author name</span><br />
      <span><code>name:hud</code> - search by HUD name</span><br />
      <span><code>tags:minimal</code> - search by tags</span><br />
      <span><code>has:streamer-mode</code> - search by feature</span><br />
      <span><code>os:windows</code> - search by HUD operating system</span><br
      />
      <span><code>gamemode:pl</code> - search by gamemode UI</span><br />
      <span><code>res:16/9</code> - search by resolution</span><br />
      <span
        ><code>position:center</code> - search by ammo/health positioning</span
      ><br />
      <p class="mt-1 mb-0 fw-semibold">UI for advanced search coming soon!</p>
    </div>
  </div>
</div>
