---
---

<style>
  .navbar {
    --bs-navbar-padding-x: 1rem;
    --bs-navbar-padding-y: 0.4rem;
  }
</style>

<div class="container">
  <nav class="navbar navbar-sm navbar-expand-lg navbar-dark bg-teal">
    <div class="d-lg-flex w-100 justify-content-between">
      <span class="navbar-brand">
        <a href="/huds/1" class="navbar-brand"><img src="/img/mastercomfig_logo_transparent_i.svg" alt="" class="d-inline-block align-text-center" width="24" height="24"> comfig huds</a>
      </span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Discord">
            <a href="https://discord.gg/Hz3Q4Z8" class="nav-link"><span class="fab fa-discord fa-fw" aria-hidden="true"></span></a>
          </li>
          <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Submit a HUD">
            <a href="https://github.com/mastercomfig/hud-db" class="nav-link"><span class="fas fa-plus fa-fw" aria-hidden="true"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
